env_hrnet/
env_hrnet_gpu/
env_motion_final/
env_hrnet_datasets_v1/
hrnet_storage/
logs/
miniforge3/
MotionBERT/
Pose_Video/
__pycache__/
*.pyc

*.pt
*.pth
*.bin

videos/
videos_staging/
data/
results/
outputs/
*.mp4
*.json
Miniforge3-Linux-aarch64.sh
workspace_temp/